
@media only screen and (min-width: 1200px) {
     .about-section{
	     margin-left:-90px;
     }
}
@media only screen and (min-width: 1200px) {
     .about-section-title h2{
    	text-align:center;
    	color:black;
    	letter-spacing: 4px;
    }
}
@media only screen and (min-width: 1200px) {
     .about-section-title h4{
         text-align:center;
         color:#06ada6;
         letter-spacing: 7px;
    }
}

@media only screen and (max-width: 480px){
   .custom-row img {
    height: 275px;
    width: 302px;
    margin-left: -15px;
    }
}

.custom-row img {

  height: 443px;
}

.skill-set{
	border: 1px solid;
        margin: 5px 5px 5px 0px;
}
.skill-set span.color-palet{
    display: inline-block;
    background-color: #03A9F4;
    height: 30px;
    margin-bottom: -5px;
}
.skill-set span.eighty-five{
	width: 85%;
}

.skill-set span.eighty{
	width: 80%;
}
.skill-set span.ninghty{
	width: 90%;
}

.skill-set span.ninghty-five{
    width:95%;
}
.skill-set span.percentage{
	float: right;
    margin-top: 7px;
    font-weight: bold;
}