<div class='about-me row'>
	<div class='row custom-row'>
	     <div class='col-lg-12 col-md-12 about-section-title'>
		     <h2>About Me</h2>
		     <h4>A few words about me</h4>
	     </div>
     </div>
     <div class='row custom-row'>
	     <div class='col-lg-6 col-md-6 col-sm-12 col-xs-12'>
		     <img src="Images/prem3.jpg">
	     </div>
	     <div class='col-lg-6 col-md-6 col-sm-12 col-xs-12 about-section' style='background-color:white;'>
			<h4 style='color:#FFC107;font-weight:bold;'>Job Title</h4>
			<h6 style='border-bottom: 3px dotted green;line-height: 2.5;font-weight:bold;'>Senior Software Engineer - Angular Js Developer</h6>
			<h4 style='color:#FFC107;font-weight:bold;'>Name</h4>
			<h6 style='border-bottom: 3px dotted green;line-height: 2.5;font-weight:bold;'>Prem Prakash</h6>
			<h4 style='color:#FFC107;font-weight:bold;'>Sex</h4>
			<h6 style='border-bottom: 3px dotted green;line-height: 2.5;font-weight:bold;'>Male</h6>
			<h4 style='color:#FFC107;font-weight:bold;'>Location</h4>
			<h6 style='border-bottom: 3px dotted green;line-height: 2.5;font-weight:bold;'>Pune,India</h6>
			<h4 style='color:#FFC107;font-weight:bold;'>Email Id</h4>
			<h6 style='border-bottom: 3px dotted green;line-height: 2.5;font-weight:bold;'>prem1014prakash@gmail.com</h6>
			<h4 style='color:#FFC107;font-weight:bold;'>Mobile</h4>
			<h6 style='border-bottom: 3px dotted green;line-height: 2.5;font-weight:bold;'>+918446012999</h6>
	     </div>
     </div>
     <div class='row custom-row'>
     	<div class='col-lg-6 col-md-6'>
     		<h4 style='font-weight:bold;'><u>Technical Skill Set</u></h4>
     		<span>HTML</span>
     		<div class='skill-set'>
     			<span class='color-palet eighty-five'></span>
     			<span class='percentage'>85%</span>
     		</div>
     		<span>CSS</span>
     		<div class='skill-set'>
     			<span class='color-palet ninghty'></span>
     			<span class='percentage'>90%</span>
     		</div>
     		<span>Javascripts and OOJS</span>
     		<div class='skill-set'>
     			<span class='color-palet ninghty'></span>
     			<span class='percentage'>90%</span>
     		</div>
     		<span>Bootstrap,Responsive Design</span>
     		<div class='skill-set'>
     			<span class='color-palet eighty-five'></span>
     			<span class='percentage'>85%</span>
     		</div>
     		<span>Angular Js 1</span>
     		<div class='skill-set'>
     			<span class='color-palet ninghty'></span>
     			<span class='percentage'>90%</span>
     		</div>
     		<span>JQuery</span>
     		<div class='skill-set'>
     			<span class='color-palet ninghty'></span>
     			<span class='percentage'>90%</span>
     		</div>
     		<span>Task Automation Tools(NPM,Bower,GULP,GRUNT)</span>
     		<div class='skill-set'>
     			<span class='color-palet eighty'></span>
     			<span class='percentage'>80%</span>
     		</div>
     		<span>Version Control Tools(SVN,GIT)</span>
     		<div class='skill-set'>
     			<span class='color-palet ninghty'></span>
     			<span class='percentage'>90%</span>
     		</div>
     	</div>
     	<div class='col-lg-6 col-md-6'>
            <h4 style='font-weight:bold;'><u>Soft Skill Set</u></h4>
     		<span>Communication Skill</span>
     		<div class='skill-set'>
     			<span class='color-palet ninghty'></span>
     			<span class='percentage'>90%</span>
     		</div>
     		<span>Team Player</span>
     		<div class='skill-set'>
     			<span class='color-palet ninghty'></span>
     			<span class='percentage'>90%</span>
     		</div>
     		<span>Presentaion</span>
     		<div class='skill-set'>
     			<span class='color-palet ninghty'></span>
     			<span class='percentage'>90%</span>
     		</div>
     		<span>Problem Solving</span>
     		<div class='skill-set'>
     			<span class='color-palet ninghty'></span>
     			<span class='percentage'>90%</span>
     		</div>
     		<span>Decision Making</span>
     		<div class='skill-set'>
     			<span class='color-palet eighty-five'></span>
     			<span class='percentage'>85%</span>
     		</div>
     		<span>Creativity and Inovation</span>
     		<div class='skill-set'>
     			<span class='color-palet eighty'></span>
     			<span class='percentage'>80%</span>
     		</div>
     		<span>Time Management</span>
     		<div class='skill-set'>
     			<span class='color-palet ninghty'></span>
     			<span class='percentage'>90%</span>
     		</div>
     		<span>Leadership</span>
     		<div class='skill-set'>
     			<span class='color-palet ninghty'></span>
     			<span class='percentage'>90%</span>
     		</div>
     	</div>
     </div>
</div>