<div class='blog-container'>
<div class='row'>
	<div class='col-lg-3 col-md-3 col-sm-12 col-xs-12'>
		<a ui-sref='ang-basic'>
		    <div class='icon-container' style='background-color: #E91E63;'>
			     Angular Basic
		    </div>			
		</a>
	</div>
	<div class='col-lg-3 col-md-3 col-sm-12 col-xs-12'>
		<a ui-sref='views-directives'>
		<div class='icon-container' style='background-color: #FFC107;'>
			Views and DIrectives
		</div>
	    </a>
	</div>
	<div class='col-lg-3 col-md-3 col-sm-12 col-xs-12'>
		<a ui-sref='angular-scope'>
		<div class='icon-container' style='background-color: #FF9800;'>
			Working with $scope
		</div>
		</a>		
	</div>
	<div class='col-lg-3 col-md-3 col-sm-12 col-xs-12'>
		<a ui-sref='ang-forms'>
		<div class='icon-container' style='background-color: #FF5722;'>
			Angular Forms
		</div>
	</a>
	</div>
</div>
<div class='row'>
	<div class='col-lg-3 col-md-3 col-sm-12 col-xs-12'>
		<a ui-sref='ang-event'>
		<div class='icon-container' style='background-color: #4CAF50;'>
			Angular Events
		</div>
	</a>
	</div>
	<div class='col-lg-3 col-md-3 col-sm-12 col-xs-12'>
		<a ui-sref='ang-provider'>
		<div class='icon-container' style='background-color: #795548;'>
			Angular Providers
		</div>
	</a>
	</div>
	<div class='col-lg-3 col-md-3 col-sm-12 col-xs-12'>
		<a ui-sref='ang-services'>
		<div class='icon-container' style='background-color: #CDDC39;'>
			Services and Factory
		</div>	
		</a>	
	</div>
	<div class='col-lg-3 col-md-3 col-sm-12 col-xs-12'>
		<a ui-sref='ang-di'>
		<div class='icon-container' style='background-color: #aaff22;'>
			Angular DI
		</div>
	</a>
	</div>
</div>
<div class='row'>
	<a ui-sref='ang-ajax'>
	<div class='col-lg-3 col-md-3 col-sm-12 col-xs-12'>
		<div class='icon-container' style='background-color: #46beec;'>
			AJAX in Angular
		</div>
	</a>
	</div>
	<div class='col-lg-3 col-md-3 col-sm-12 col-xs-12'>
		<a ui-sref='ang-routes'>
		<div class='icon-container' style='background-color: #a2a2a1;'>
			Angular Routes
		</div>
	</a>
	</div>
	<div class='col-lg-3 col-md-3 col-sm-12 col-xs-12'>
		<a ui-sref='ang-custom-directive'>
		<div class='icon-container' style='background-color: #b4d8ea;'>
			Custom Directives
		</div>	
		</a>	
	</div>
	<div class='col-lg-3 col-md-3 col-sm-12 col-xs-12'>
		<a ui-sref='ang-digest'>
		<div class='icon-container' style='background-color: #7c05eb;'>
			$digest,$apply,$watch
		</div>
	</a>
	</div>
</div>
</div>
<ui-view></ui-view>