 <h4>Teacher Registration</h4>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <form class="form-horizontal">
            <div class="form-group">
                <label class="control-label col-lg-2 col-md-2 col-sm-2 col-xs-12">Name</label>
                <div class="col-lg 4 col-md-4 col-sm-4">
                    <input type="text" class="form-control" ng-model="teacherRegCtrl.teacherDetails.name">
                </div>
                <label class="control-label col-lg-2 col-md-2 col-sm-2 col-xs-12">Last Name</label>
                <div class="col-lg 4 col-md-4 col-sm-4">
                    <input type="text" class="form-control" ng-model="teacherRegCtrl.teacherDetails.name">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-lg-2 col-md-2 col-sm-2 col-xs-12">Mobile No.</label>
                <div class="col-lg 4 col-md-4 col-sm-4">
                    <input type="text" class="form-control" ng-model="teacherRegCtrl.teacherDetails.mobile">
                </div>
                <label class="control-label col-lg-2 col-md-2 col-sm-2 col-xs-12">Email Id</label>
                <div class="col-lg 4 col-md-4 col-sm-4">
                    <input type="text" class="form-control" ng-model="teacherRegCtrl.teacherDetails.email">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-lg-2 col-md-2 col-sm-2 col-xs-12">Address</label>
                <div class="col-lg 10 col-md-10 col-sm-10">
                    <textarea type="text" class="form-control" ng-model="teacherRegCtrl.teacherDetails.address"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-lg-2 col-md-2 col-sm-2 col-xs-12">City</label>
                <div class="col-lg 4 col-md-4 col-sm-4">
                    <input type="text" class="form-control" ng-model="teacherRegCtrl.teacherDetails.City">
                </div>
                <label class="control-label col-lg-2 col-md-2 col-sm-2 col-xs-12">State</label>
                <div class="col-lg 4 col-md-4 col-sm-4">
                    <input type="text" class="form-control" ng-model="teacherRegCtrl.teacherDetails.state">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-lg-2 col-md-2 col-sm-2 col-xs-12">Pin Code</label>
                <div class="col-lg 4 col-md-4 col-sm-4">
                    <input type="text" class="form-control" ng-model="teacherRegCtrl.teacherDetails.pinCode">
                </div>
                <label class="control-label col-lg-2 col-md-2 col-sm-2 col-xs-12">Gender</label>
                <div class="col-lg 4 col-md-4 col-sm-4">
                    <select class="form-control" ng-model="teacherRegCtrl.teacherDetails.gender">
                        <option selected>Male</option>
                        <option>Female</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-lg-2 col-md-2 col-sm-2 col-xs-12">Qualification</label>
                <div class="col-lg 4 col-md-4 col-sm-4">
                    <input type="text" class="form-control" ng-model="teacherRegCtrl.teacherDetails.pinCode">
                </div>
                <label class="control-label col-lg-2 col-md-2 col-sm-2 col-xs-12">Experience</label>
                <div class="col-lg 4 col-md-4 col-sm-4">
                    <select class="form-control" ng-model="teacherRegCtrl.teacherDetails.gender">
                        <option selected>1 Year</option>
                        <option>2 Year</option>
                        <option>3 Year</option>
                        <option>4 Year</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
               <label class="control-label col-lg-2 col-md-2 col-sm-2"></label>
                <div class="col-lg-3 col-md-3 col-sm-3">
                    <button type="submit" ng-click="teacherRegCtrl.saveTeachersDetails()" class="btn btn-default">Save</button>
                </div>
            </div>
        </form>
    </div>
