<div class="data-grid-container">
    <div class="data-grid-header">
        <div ng-repeat="colDef in vm.gridOptions.columnDefinition">
            {{colDef.headerName}}
        </div>
    </div>
    <div ng-repeat="(rowIndex,rowData) in vm.gridOptions.rowData">
        <div class="row-container" ng-click="vm.onRowClick({rowData:rowData});rowData.isRowClicked=!rowData.isRowClicked"
             ng-class="{rowClicked:rowData.isRowClicked==true}">
            <div ng-repeat="(colIndex,colDef) in vm.gridOptions.columnDefinition">
                {{rowData[colDef.field] | date:"MM-dd-yyyy"}}
            </div>
        </div>
    </div>

</div>
