<div class="data-grid-container">
    <div class="data-grid-header">
        <div ng-repeat="colDef in vm.gridOptions.columnDefinition">
            {{colDef.headerName}}
        </div>
    </div>
    <div class="row-container" ng-repeat="(rowIndex,rowData) in vm.gridOptions.rowData" ng-click="vm.onRowClick()"
         ng-class="{rowClicked:vm.isRowClicked==true}">
        <div ng-repeat="(colIndex,colDef) in vm.gridOptions.columnDefinition">
            {{rowData[colDef.field] | date:"MM-dd-yyyy"}}
        </div>
    </div>
</div>
