<div class="container-fluid">
    <div class='row inner-bradcrumb'>
    	<div class="container">
        	<div class="col-sm-12">
        
                <div class="breadcrumb-part">
                    <h3>School Registration</h3>
                    <ul> 
                        <li><a href="index.html">Home</a></li>
                        <li> &nbsp; - &nbsp; Registration</li>
                    </ul>
                </div>
            </div>
        </div>
    </div> 
    <div class="row main-inner_container"> 
    	<div class="container">  
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12"> 
        
        
                            <div class="contact-us-info1">   
                                <ul>
                                    <li>
                                        <i class="fa fa-phone" aria-hidden="true"></i>
                                        <h3>Phone</h3>
                                        <p>99990005555, 8989784515</p>   
                                    </li>
                                    <li>
                                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                                        <h3>Address</h3>
                                        <p>B-123 Patel Garden New Delhi</p> 
                                    </li>
                                    <li>   
                                        <i class="fa fa-envelope-o" aria-hidden="true"></i>
                                        <h3>E-mail</h3>
                                        <p>templeoflearning@gmail.com</p>   
                                    </li>
                                    <li>
                                        <h3>Follow Us</h3>
                                        <ul class="contact-social">
                                            <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                            <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                            <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                            <li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>                                            
                                        </ul>
                                    </li>       
                                </ul>
                            </div>  
                        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
            <form class="form-horizontal reg-form" name="schoolReg">
                <div class="form-group">
                	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h3>Submit below form for demo</h3>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <input type="text" class="form-control" placeholder="School Name" />
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <input type="text" class="form-control" placeholder="Choose unique id for your school"/>
                    </div> 
                </div>
                <div class="form-group"> 
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">   
                        <select class="form-control">
                            <option value="">Select Country</option>
                        </select>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <select class="form-control">
                            <option value="">Select State</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <select class="form-control">
                            <option value="">Select District</option>
                        </select>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <input type="text" class="form-control" placeholder="enter your city name"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <input type="text" class="form-control" placeholder="enter your mobile no"/>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <input type="text" class="form-control" placeholder="enter your email id"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <input type="text" class="form-control" placeholder="enter your pin code"/>
                    </div> 
                </div>
                <div class="form-group">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    	<textarea rows="5" class="form-control" placeholder="enter your pin code"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-4 col-md-4 col-sm-offset-8 col-xs-12">
                        <button type="submit" class="btn btn-primary pull-right">Save Your Details</button>
                    </div>
                </div>
            </form>
        </div>
        </div>
    </div>
</div>
