<!-- Full Page Image Background Carousel Header -->
<div id="myCarousel" class="row carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active"> <img src="images/slider1.jpg" alt="">
            <div class="carousel-caption">
                <h3>Best Education For Everyone</h3>
                <p>Emply dummy text of the printing and typesetting industry orem Ipsum has been the industry's standard<br class="visible-lg">
                    dummy text ever sinceprinting and typesetting industry. </p>
                <a href="#">MORE INFORMATION</a> </div>
        </div>
        <div class="item"> <img src="images/slider1.jpg" alt="">
            <div class="carousel-caption">
                <h3>Best Education For Everyone</h3>
                <p>Emply dummy text of the printing and typesetting industry orem Ipsum has been the industry's standard<br class="visible-lg">
                    dummy text ever sinceprinting and typesetting industry. </p>
                <a href="#">MORE INFORMATION</a> </div>
        </div>
        <div class="item"> <img src="images/slider1.jpg" alt="">
            <div class="carousel-caption">
                <h3>Best Education For Everyone</h3>
                <p>Emply dummy text of the printing and typesetting industry orem Ipsum has been the industry's standard<br class="visible-lg">
                    dummy text ever sinceprinting and typesetting industry. </p>
                <a href="#">MORE INFORMATION</a> </div>
        </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true">
        </span>
        <span class="sr-only">Next</span>
    </a>
</div>

<!-- slider end here -->

<!-- About section Start here -->
<div class="row about2-area">
    <div class="container text-center">
        <h2 class="about-title">Welcome To Temple of Learning</h2>
        <p class="about-sub-title">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, <br class="visible-lg">
            when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="service-box2 text-center">
                    <div class="service-box-icon"> <a href="#"><i class="fa fa-graduation-cap" aria-hidden="true"></i></a> </div>
                    <h3><a href="#">Scholarship Facility</a></h3>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the try's standard dummy text ever since.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="service-box2 text-center">
                    <div class="service-box-icon"> <a href="#"><i class="fa fa-user" aria-hidden="true"></i></a> </div>
                    <h3><a href="#">Skilled Lecturers</a></h3>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the try's standard dummy text ever since.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="service-box2 text-center">
                    <div class="service-box-icon"> <a href="#"><i class="fa fa-book" aria-hidden="true"></i></a> </div>
                    <h3><a href="#">Book Library &amp; Store</a></h3>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the try's standard dummy text ever since.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About section Ends here -->

<!-- Our Vision section start here -->
<div class="row vision_area">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="vision_vedio"> <img class="img img-responsive" src="images/our_vision.jpg"> </div>
            </div>
            <div class="col-sm-6">
                <h3>Our Vision</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                <ul>
                    <li>Lorem Ipsum is simply dummy text of the printing .</li>
                    <li>Also the leap into electronic typesetting, remaining essentially </li>
                    <li>Lorem also the leap into electronic typesetting, remaining essentially  to make.</li>
                    <li>Make a type specimen Ipsum is simply dummy text of the printing .</li>
                    <li>Lorem Ipsum is simply dummy text of the printing .</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- Our Vision section Ends here -->

<!-- Our Mission section start here -->
<div class=" row mission_area">
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <div class="our-mission_title">
                    <h4>PREM PRAKASH</h4>
                    <h6>Instructor</h6>
                </div>
                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined </p>
                <div class="social">
                    <ul class="list-unstyled">
                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-whatsapp" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
                <div class="mission-gallery">
                    <div class="row">
                        <div class="col-sm-3"> <img class="img img-responsive" src="images/mission-gallery-pic1.jpg"> </div>
                        <div class="col-sm-3"> <img class="img img-responsive" src="images/mission-gallery-pic2.jpg"> </div>
                        <div class="col-sm-3"> <img class="img img-responsive" src="images/mission-gallery-pic3.jpg"> </div>
                        <div class="col-sm-3"> <img class="img img-responsive" src="images/mission-gallery-pic4.jpg"> </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="our-mission_pic"> <img class="img img-responsive" src="images/our_mission-pic.jpg"> </div>
            </div>
        </div>
    </div>
</div>
<!-- Our Vision section Ends here -->

<!-- Portfolio section start here -->
<div class="row portfolio_area text-center">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="port-icon"><i class="fa fa-users"></i></div>
                <div class="count_no">225</div>
                <h3 class="text-uppercase">
                    Certified CLIENT
                    </h2>
            </div>
            <div class="col-sm-3">
                <div class="port-icon"><i class="fa fa-users"></i></div>
                <div class="count_no">225</div>
                <h3 class="text-uppercase">
                    Certified CLIENT
                    </h2>
            </div>
            <div class="col-sm-3">
                <div class="port-icon"><i class="fa fa-users"></i></div>
                <div class="count_no">225</div>
                <h3 class="text-uppercase">
                    Certified CLIENT
                    </h2>
            </div>
            <div class="col-sm-3">
                <div class="port-icon"><i class="fa fa-users"></i></div>
                <div class="count_no">225</div>
                <h3 class="text-uppercase">
                    Certified CLIENT
                    </h2>
            </div>
        </div>
    </div>
</div>
<!-- Protfolio section Ends here -->

<!-- Contact section start here -->
<div class="row contact_area">
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <h3>Contact us for Demo</h3>
                <p>You can contact us with anything related to our Template. We'll get in touch with you as soon as
                    possible.</p>
                <form id="contact-form" class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <input placeholder="First Name*" class="form-control" name="fname" id="" data-error="First Name field is required" required="" type="text">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <input placeholder="Last Name*" class="form-control" name="lname" id="" data-error="Last Name field is required" required="" type="text">
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <input placeholder="Mobile No.*" class="form-control" name="mobile" id="" data-error="Name field is required" required="" type="text">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <input placeholder="Email*" class="form-control" name="email" id="form-email" data-error="Email field is required" required="" type="email">
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <textarea placeholder="Message*" class="textarea form-control" name="message" id="form-message" rows="8" cols="20" data-error="Message field is required" required=""></textarea>
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-sm-12">
                        <div class="form-group margin-bottom-none">
                            <button type="submit" class="btn btn-default">Send Message</button>
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-6 col-sm-12">
                        <div class="form-response"></div>
                    </div>
                </form>
            </div>
            <div class="col-sm-4">
                <div class="office-add">
                    <div class="office-title">
                        <h5>Find us at the office</h5>
                        <p>B-123 Patel Garden Kakrola more<br>
                            New Delhi-110059 <br>
                            India</p>
                    </div>
                </div>
                <div class="office-add">
                    <div class="office-title">
                        <h5>Give us a ring</h5>
                        <p>Temple of Learning <br>
                            Mob- +91 9990900000 , 9990900000</p>
                    </div>
                </div>
                <div class="office-add">
                    <div class="office-title">
                        <h5>Legal Information</h5>
                        <p>Templeoflearning Pvt Ltd <br>
                            VAT- EN234444 <br>
                            India</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Contact section Ends here -->
