<div class="container-fluid">
    <div class="row">
        <div class="col-3 col-md-3 col-sm-3 col-xs-12">
            <nav class="navbar" role="navigation">
                <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
                <div class="collapse navbar-collapse navbar-ex1-collapse">
                    <ul class="nav navbar-nav side-nav">
                        <li class="">
                            <div class="profile_info"> <img class="img img-circle user_pic" src="images/user_pic.ico">
                                <div class="profile-title"><span>{{userCredentials.userName}}</span></div>
                                <div class="status"><i class="fa fa-circle" aria-hidden="true"></i> Online
                                    <a href='#' class='btn btn-info' ng-click='dashBoardCtrl.logOut($event)'>Logout</a>
                                </div>
                            </div>
                        </li>
                        <li class="active"> <a ui-sref="dashboard"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a> </li>
                        <li class="active">
                             <a ui-sref="dashboard.school-reg-req">
                                Request Pending <span class='badge' style='background-color: red'>{{dashBoardCtrl.pendingRegReq.length}}</span>
                             </a>
                         </li>
                        <li class="active">
                            <a ui-sref="dashboard.student-reg">
                                <i class="fa fa-bell"></i>
                                Student Registration
                            </a>
                        </li>
                        <li class="active">
                            <a ui-sref="dashboard.school-reg-req">
                                <i class="fa fa-bell"></i>
                                Manage Result
                            </a>
                        </li>
                        <li class="active">
                            <a ui-sref="dashboard.school-reg-req">
                                <i class="fa fa-bell"></i>
                                Manage Attendance
                            </a>
                        </li>
                        <li class="active">
                            <a ui-sref="dashboard.school-reg-req">
                                <i class="fa fa-bell"></i>
                                Teacher Registration
                            </a>
                        </li>
                        <li class="active">
                            <a ui-sref="dashboard.school-reg-req">
                                <i class="fa fa-bell"></i>
                                Manage Exams
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </nav>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12" style="margin-left: -100px;" ui-view>
            <div class="row">
                <h2 class="page-header"> Dashboard <small>Statistics Overview</small> </h2>
                <ol class="breadcrumb">
                    <li class="active"> <i class="fa fa-dashboard"></i> Dashboard </li>
                </ol>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-warning">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-9 text-right">
                                    <div class="huge">{{dashBoardCtrl.pendingRegReq.length}}</div>
                                    <div>School Regi Request</div>
                                </div>
                            </div>
                        </div>
                        <a ui-sref="dashboard.school-reg-req">
                            <div class="panel-footer"> <span class="pull-left">View Details</span> <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a> </div>
                </div>
            </div>
        </div>
    </div>
</div>
