body {
background-image: url("Images/bgc.jpg");
background-repeat: no-repeat;
background-size:cover;
}

.main-navigation {
    background-color: #2de6de;
    border-color: #2de6de;
}

.main-navigation img{
    width:116px;
}

.error-message{
	    color: #d80b0b;
    top: 5px;
    font-style: oblique;
    font-weight: bold;
    position: relative;
}

.form-error{
    border: 1px solid red;
}
.row{
	margin-left:-8px;
	margin-right:-8px;
}
.custom-row{
	background-color: #bbbbbb;
    border: 2px solid;
    border-radius: 15px;
    padding: 10px;
    margin:10px;
}

footer{
    text-align: center;
    color: black;
    font-weight: bold
}