<div class="container-fluid">
    <div class='row inner-bradcrumb'>
    	<div class="container">
        	<div class="col-sm-12">

                <div class="breadcrumb-part">
                    <h3>School Registration</h3>
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li> &nbsp; - &nbsp; Registration</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row main-inner_container">
    	<div class="container">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">


                            <div class="contact-us-info1">
                                <ul>
                                    <li>
                                        <i class="fa fa-phone" aria-hidden="true"></i>
                                        <h3>Phone</h3>
                                        <p>99990005555, 8989784515</p>
                                    </li>
                                    <li>
                                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                                        <h3>Address</h3>
                                        <p>B-123 Patel Garden New Delhi</p>
                                    </li>
                                    <li>
                                        <i class="fa fa-envelope-o" aria-hidden="true"></i>
                                        <h3>E-mail</h3>
                                        <p>templeoflearning@gmail.com</p>
                                    </li>
                                    <li>
                                        <h3>Follow Us</h3>
                                        <ul class="contact-social">
                                            <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                            <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                            <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                            <li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
            <form class="form-horizontal reg-form" name="schoolReg" novalidate>
                <div class="form-group">
                    <h3>Submit below form for demo</h3>
                </div>
                <div class="form-group">
                    <label class="control-label col-lg-2 col-md-2 col-sm-2 col-xs-12">School Name:</label>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <input type="text" class="form-control" ng-model="schoolRegCtrl.schoolName"  required/>
                    </div>
                    <label class="control-label col-lg-2 col-md-2 col-sm-2 col-xs-12">Enter Id:</label>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <input type="text" class="form-control" ng-model="schoolRegCtrl.schoolUID" required placeholder="Choose unique id for your school"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-lg-2 col-md-2 col-sm-2 col-xs-12">Country:</label>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <select class="form-control" ng-model="schoolRegCtrl.selectedCountry" required
                                ng-change="schoolRegCtrl.onCountryChange()"
                                ng-options="country.id as country.name for country in schoolRegCtrl.country">
                             <option value="">--Select--</option>
                        </select>
                        <span ng-if="schoolRegCtrl.isSearchingCountry" class="glyphicon glyphicon-refresh glyphicon-spin"></span>
                    </div>
                    <label class="control-label col-lg-2 col-md-2 col-sm-2 col-xs-12">State:</label>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <select class="form-control" ng-model="schoolRegCtrl.selectedState" required
                            ng-change="schoolRegCtrl.onStateChange()"
                            ng-options="state.id as state.name for state in schoolRegCtrl.state">
                            <option value="">--Select--</option>
                        </select>
                        <span ng-if="schoolRegCtrl.isSearchingState" class="glyphicon glyphicon-refresh glyphicon-spin"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-lg-2 col-md-2 col-sm-2 col-xs-12">District:</label>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <select class="form-control" ng-model="schoolRegCtrl.selectedDistrict" required
                            ng-options="district.id as district.name for district in schoolRegCtrl.district">
                            <option value="">--Select--</option>
                        </select>
                        <span ng-if="schoolRegCtrl.isSearchingState" class="glyphicon glyphicon-refresh glyphicon-spin"></span>
                    </div>
                    <label class="control-label col-lg-2 col-md-2 col-sm-2 col-xs-12">City:</label>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <input type="text" ng-model="schoolRegCtrl.cityName" class="form-control" placeholder="enter your city name"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-lg-2 col-md-2 col-sm-2 col-xs-12">Mobile:</label>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <input type="text" ng-model="schoolRegCtrl.mobileNo" class="form-control" placeholder="enter your mobile no" required/>
                    </div>
                    <label class="control-label col-lg-2 col-md-2 col-sm-2 col-xs-12">Email:</label>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <input type="email" ng-model="schoolRegCtrl.emailId" class="form-control" placeholder="enter your email id" required/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-lg-2 col-md-2 col-sm-2 col-xs-12">Pin Code:</label>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <input type="text" ng-model="schoolRegCtrl.pinCode" class="form-control" placeholder="enter your pin code"/>
                    </div>
                    <label class="control-label col-lg-2 col-md-2 col-sm-2 col-xs-12">Message:</label>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <textarea class="form-control" ng-model="schoolRegCtrl.message"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-lg-2 col-md-2 col-sm-2 col-xs-12"></label>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <button type="submit" class="btn btn-primary" ng-disabled="schoolReg.$invalid"
                        ng-click="schoolRegCtrl.saveSchoolReg()">Save Your Details</button>
                    </div>
                </div>
            </form>
        </div>
        </div>
    </div>
</div>
